* {
  box-sizing: border-box;
}

input[name='name'] {
  display: none;
}

label {
  display: inline-block;
  /* width: 100%;
  height: 100%; */
  position: relative;
  top: 0;
  right: -100%;
  /* transform: rotate(90deg);
  transition: all 1s ease; */
  opacity: 0;
  width: 0;
}

.radio-wrap {
  /* border: 1px solid; */
  /* width: 600px; */
  height: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.wrap {
  border: none;
  /* border-bottom: 1px solid; */
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[type='radio'] {
  position: absolute;
  z-index: 2;
}

#name0:checked ~ div > label:nth-child(2) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}
#name1:checked ~ div > label:nth-child(3) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}

#name2:checked ~ div > label:nth-child(4) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}

#name3:checked ~ div > label:nth-child(5) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}

#name4:checked ~ div > label:nth-child(6) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}

#name5:checked ~ div > label:nth-child(7) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}

#name6:checked ~ div > label:nth-child(8) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}

#name7:checked ~ div > label:nth-child(9) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}

#name8:checked ~ div > label:nth-child(1) {
  right: 0;
  transform: rotate(0deg);
  opacity: 1;
  width: 100%;
}

#name0 {
  top: 520px;
  left: 7.5%;
}
#name1 {
  top: 520px;
  left: 12.5%;
}

#name2 {
  top: 520px;
  left: 17.5%;
}

#name3 {
  top: 520px;
  left: 22.5%;
}

#name4 {
  top: 520px;
  left: 27.5%;
}

#name5 {
  top: 520px;
  left: 32.5%;
}

#name6 {
  top: 520px;
  left: 37.5%;
}

#name7 {
  top: 520px;
  left: 42.5%;
}

#name8 {
  top: 520px;
  left: 47.5%;
}
