* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --clr_front: #0f6ebe;
  --clr_black: #2c3e50;
  --clr_white: #f2f6f7;
}

.row {
  font-size: 0;
  white-space: nowrap;
  /* overflow: hidden; */
}
.row > * {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  white-space: normal;
  height: 100%;
  /* overflow: hidden; */
}

.pave {
  text-align: center;
  font-size: 0;
  overflow: hidden;
}
.pave > * {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  margin: 5px;
  overflow: hidden;
}

html {
  font-family: Calibri, 'Franklin Gothic', sans-serif;
  color: var(--clr_black);
  background-color: var(--clr_white);
}
.top > span {
  margin: 0 auto;
}
.header > .center {
  padding-top: 20px;
}
.header > .buttons {
  padding-top: 25px;
}
a {
  text-decoration: none;
  color: var(--clr_front);
}
a > .favorites {
  background: #fff url(../img/tofav.png) center / 70% no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #ccc;
}
a > .compare {
  background: #fff url(../img/tocompare.png) center / 70% no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #ccc;
}
.buttons > a {
  padding: 0 5px 0;
  position: relative;
}
.buttons > a > span {
  position: absolute;
  left: 28px;
  top: 2px;
  font-size: 20px;
  font-weight: bold;
}
a > .cart {
  background: #fff url(../img/addtocart.png) center / 70% no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #ccc;
}
.wrapper {
  /* width: 80%; */
  min-width: 640px;
  max-width: 1920px;
  margin: 0 auto;
}
/* .wrapper div {
  border: 1px solid #000;
} */

.header {
  height: 100px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header > div {
  width: calc(100% / 4);
} */
/* .header > .left,
.header > .right {
  width: 200px;
} */
.header > .center {
  width: calc(80% - 200px * 2);
}

.wrap-img {
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding: 5px;
}
.wrap-img img {
  max-width: 100%;
  max-height: 100%;
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
}

.wrap-search {
  max-width: 700px;
  margin: 0 auto;
  width: 90%;
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  border: 1px solid #ccc;
}
.wrap-search:hover {
  box-shadow: 0 0 5px 0 #c0c3c5;
}
.wrap-search:focus-within {
  border: 1px solid #789;
}
.wrap-search .left {
  width: calc(100% - 50px);
}
.wrap-search .right {
  width: 50px;
}
.wrap-search input[type='text'] {
  color: var(--clr_black);
  width: 100%;
  text-indent: 3px;
  font-size: 18px;
  line-height: 50px;
  padding: 0;
  border: 0;
  outline: 0;
}
.wrap-search input[type='submit'] {
  height: 50px;
  width: 50px;
  font-size: 18px;
  background: #fff url(../img/search.png) center / 70% no-repeat;
  border: 0px solid #ccc;
}

.wrap-account {
  height: 100%;
  text-align: center;
}
.wrap-account > div {
  height: calc(100% / 3);
  padding: 5px;
}
.wrap-account button {
  width: 50%;
  cursor: pointer;
}

.main {
  width: 96%;
  margin: 0 auto;
  padding: 15px 5px;
}
.main > .bottom > .left {
  width: 250px;
}
.main > .bottom > .right {
  width: calc(100% - 250px);
}

.wrap-navigation {
  text-align: center;
  padding: 15px;
  padding-right: 26px;
}
.wrap-navigation > a {
  margin-left: 5px;
  font-weight: bold;
}
.wrap-navigation > a::before {
  content: '> ';
}

.wrap-filter {
  padding: 5px;
}
.wrap-filter .wrap-props {
  margin-bottom: 25px;
}
.wrap-filter .wrap-props > div {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}
.wrap-filter .wrap-range {
  font-size: 18px;
}
.wrap-filter .wrap-range > input {
  width: 100%;
}
.wrap-filter .wrap-props h3 {
  padding: 5px;
}
.wrap-filter .wrap-checkbox > label {
  font-size: 18px;
  vertical-align: top;
}
.wrap-filter .wrap-checkbox > input {
  width: 20px;
  height: 20px;
}

.container-products {
  padding: 5px;
}
a {
  cursor: pointer;
}
.id {
  display: none;
}
.price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.wrap-product {
  /* position: relative; */
  cursor: default;
  width: 260px;
  height: 400px;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 0 5px 0 #d0d3d5;
  background: white;
  border: 1px solid #fff;
}
.wrap-product .new {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 75px;
  height: 75px;
  background: white url(../img/new.png) center / contain no-repeat;
}
.wrap-product:hover {
  border: 1px solid #ccc;
}
.wrap-product:hover img {
  opacity: 0.9;
}
.wrap-product:hover .new {
  opacity: 0.8;
}
.wrap-product > div:nth-child(1) {
  height: 45%;
  padding: 5px;
}
.wrap-product > div:nth-child(2) {
  height: 50%;
  text-align: center;
  padding: 5px;
}
.wrap-product > div:nth-child(3) {
  height: 10%;
  margin: 0 auto;
  /* text-wrap: balance; */
  /* border: 1px solid #000; */
}
.wrap-product > div:nth-child(4) {
  height: 10%;
  border-top: 1px solid #ccc;
}
.wrap-product > div:nth-child(5) {
  height: 15%;
}
.wrap-product span,
.wrap-product label {
  user-select: none;
  border: 1px solid #aaa;
  padding: 3px;
  margin: 2px;
  border-radius: 5px;
  display: inline-block;
}
.wrap-product label:hover {
  cursor: pointer;
}
.wrap-product label:hover {
  background: #edeeef;
}
.wrap-product p {
  text-align: right;
  /* padding: 5px; */
  font-size: 22px;
}
.wrap-product b {
  font-size: 26px;
  color: forestgreen;
  letter-spacing: 1px;
}
.wrap-product .row > div {
  width: calc(100% / 3);
  text-align: center;
  padding: 5px;
}
.wrap-product .row > div > button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #ccc;
}
.wrap-product .row > div:nth-child(1) > button {
  background: #fff url(../img/addtocart.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(1) > button:hover {
  background: #f0f3f5 url(../img/addtocart-hover.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(2) > button {
  background: #fff url(../img/tofav.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(2) > button:hover {
  background: #f0f3f5 url(../img/tofav-hover.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(3) > button {
  background: #fff url(../img/tocompare.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(3) > button:hover {
  background: #f0f3f5 url(../img/tocompare-hover.png) center / 70% no-repeat;
}
.zero-search {
  padding: 80px;
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.wrap-select_pagination {
  padding: 15px;
  padding-right: 10px;
}
.paginator {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
.paginator span {
  font-weight: regular;
}
.paginator > a::before {
  content: ' [ ';
}
.paginator > a::after {
  content: ' ] ';
}

.footer {
  margin: 5px;
}
.footer > .top {
  border: 5px solid var(--clr_front);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top {
  display: flex;
  justify-content: flex-end;
}
.footer .wrap-menu > div,
.footer .wrap-links > div {
  margin: 5px;
  padding: 5px;
}
.footer .wrap-menu,
.footer .wrap-links {
  width: 50%;
}
.footer .wrap-links {
  background-color: var(--clr_front);
}
.footer .wrap-links a {
  color: var(--clr_white);
  font-weight: normal;
}

.footer .wrap-copyrights,
.footer .wrap-menu {
  text-align: center;
}

.footer .wrap-copyrights {
  padding: 15px;
}

.btn {
  background: linear-gradient(45deg, hsl(255, 85%, 60%), hsl(180, 85%, 60%));
  border: 0;
  padding: 5px 15px;
  color: var(--clr_white);
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  text-shadow: 0 0 5px #234;
}
.btn:hover {
  color: #fff;
  background: linear-gradient(45deg, hsl(255, 85%, 65%), hsl(180, 85%, 65%));
  box-shadow: 0 0 5px 0 #789;
}
.wrap-filterBtn,
.filter-subcategoru,
.group-wrappers {
  padding: 5px;
}
.wrap-checkbox > label {
  padding-left: 10px;
}
.data {
  position: absolute;
  background: lightgray;
  top: 50px;
  z-index: 40;
  width: 400px;
  overflow: visible;
}
.data > option {
  width: 400px;
  background-color: orange;
}
/* .options > li:hover {
  background-color: orange;
} */
.range-wrap {
  margin: 5px;
}
.priceFromWrap,
.priceToWrap {
  padding: 6px;
}
.wrap-select {
  padding: 15px;
  padding-right: 68px;
}
.paginator > span {
  cursor: pointer;
}
/* div > h3 {
  margin: -3px;
} */
